<!DOCTYPE html>
<html>
    <head>
        <title>Bingo d'equacions!</title>
        <meta charset="utf8">
      
        <!--fonts-->

        <!--js-->
        <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.2/angular-route.min.js" integrity="sha512-5zOAub3cIpqklnKmM05spv4xttemFDlbBrmRexWiP0aWV8dlayEGciapAjBQWA7lgQsxPY6ay0oIUVtY/pivXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.1/katex.min.js" integrity="sha512-5ufNcHqOYgilGEHPfuRIQ5B/vDS1M8+UC+DESZ5CwVgGTg+b2Ol/15rYL/GiCWJ/Sx8oVo0FPFok1dPk8U9INQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="./socket.io.min.js"></script>
        <script src="./fake-socket.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    
        <!--styles-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.15.1/katex.min.css" integrity="sha512-vJqxkZ+Sugf/6WRlpcxN01qVfX/29hF6qc33eHF1va3NgoV+U+wCi+uTAsQ10sDoGyBxHLdaHvGwDlV3yVYboA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./angular-growl.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" href="./bingo_equacions.css">
       
    
    </head>
    <body ng-app="bingoApp">
        <div growl></div>
 

        <script type="text/ng-template" id="landing.html"> 
            <div class="view view_nick">
                <bingo-header info="headerInfo"></bingo-header>

                <div class="inline-form">
                       <label for="nickname">Nick</label>  
                        <input class="form-control" id="nickname" ng-model="nick" ng-keyup="onKeyUp($event)" type="text"/>
                        <button class="btn btn-primary col-xs-2" id="submit_nickname" ng-click="onsubmit()">Envia</button>
                </div>

                <bingo-footer></bingo-footer>
            </div>
        </script>

        
        <script type="text/ng-template" id="rooms.html"> 
            <div class="view view_rooms">
                <bingo-header info="headerInfo"></bingo-header>
                <br> 
                <h3 class="text-bright">Sales actives  {{workingMode}}
                    <button ng-show="!isOffline" class="btn btn-sm btn-success btn-round" id="create_room" title="Crear una nova sala" ng-click="newroom()">
                        <span>+</span> </button>
                    </h3>
                <br>
                <ul>
                <li ng-repeat="r in rooms">Sala <b class="text-bright" ng-bind="r.id"></b> <button class="btn btn-sm btn-primary" id="submit_joinroom" ng-click="joinroom(r)">Unir-se</button> <br>
                    <p class="text-dim">Propietari: {{r.nick}} - Creada: {{r.created | date: 'dd/MM/yy HH:m:s'}}</p> </li>
                </ul>
                <br>
               
                <bingo-footer></bingo-footer>
            </div>
        </script>

        <script type="text/ng-template" id="game.html"> 
            <div class="view view_game">
                <bingo-header info="headerInfo"></bingo-header>
                <div style="overflow-y:hidden; overflow-x: auto; background: darkyellow; padding:20px;">
                    <div ng-repeat="b in balls" style="display: inline-block;border:1px solid brown;padding:2px;margin:5px">{{b.latex}}</div>
                </div>
                <div growl inline="true" reference="2"></div>
                <button style="float:right" ng-click="mute=!mute">Veu {{!mute}}</button>
                <h3 class="text-bright" ng-show="!bingoStarted">Tria un cartró</h3>
                <div id="cartro_panell">
                    <center>
                    <button ng-show="!bingoStarted" ng-click="newCartro()">Genera</button>
                    <bingo-cartro cartro="cartro" bingo-started="bingoStarted"></bingo-cartro>
                    <center>

                        <div ng-if="bingoStarted">
                        <button class="btn btn-info" ng-click="testLinia()" ng-disabled="lineaBtnDisabled">
                            Cantar línia
                        </button>
                        <button class="btn btn-info" ng-click="testBingo()">
                            Cantar bingo
                        </button>
                        </div>
                </div>

                <br> 
                <div ng-show="!bingoStarted">
                    <button class="btn btn-primary" ng-show="isOffline || currentRoom.idUser==headerInfo.idUser" id="notice_startgame" 
                    ng-click="onSubmitStart()" ng-if="canSubmitStart">
                        Començar la partida
                    </button>

                    <p ng-show="!isOffline && currentRoom.idUser!=headerInfo.idUser">
                        Esperant que el propietari de la sala iniciï la partida ...
                    </p> 

                </div>
                <div ng-show="bingoStarted">
                    <button class="btn btn-primary" ng-click="sortirJoc()">
                        Sortir de la partida
                    </button>
                </div>
                
                <br>
                <h3 class="text-bright">Jugadors (<span ng-bind="participants.length"></span>)</h3>
                <div class="players_container">    
                    <div class="user_ball" ng-repeat="p in participants">
                        <span ng-bind="p.nick | initials" title="{{p.nick}} - {{p.idUser}}"></span>
                    </div>
                </div>
            </div>
            <bingo-footer></bingo-footer>
        </script>
    

        <div growl inline="true" reference="1"></div>

        <div class="views" ng-view>
        </div> 

       

        <script src="./angular-growl.min.js"></script> 
        <script src="./bingo_utils.js"></script>
        <script src="./bingo_app.js"></script>
        <script src="./local_bingo.js"></script>
        <script src="./local_server.js"></script>
    </body>
</html>