@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

/** Window and views **/
body {
    margin: auto;
    background-color: rgb(45, 40, 40);
    color: rgb(237, 237, 237);
}
.text-bright {
    color: white;
}
.text-dim {
    color: lightgray;
    font-size: 0.9em;
}
.btn-round { 
    border-radius: 50%; 
}
.btn-sm.btn-round { 
    width: 30px;
    height: 30px;
}
.btn-round > span {
    vertical-align:text-bottom; 
    font-weight:bold;
}
.views {
    margin: auto;
    max-width: 700px;
}
.bingo_header {
    margin: 20px auto; 
    text-align: center;
    vertical-align: middle;
    font-family: 'Spicy Rice', cursive;
}
.bingo_header > div {
    display: inline-block;
    margin: 0 20px;
} 
.user_ball {
    margin: 0 10px;
    width: 46px;
    height: 46px;
    display: inline-block;
    background-color: darkred;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    vertical-align: text-bottom;
    text-align: center;
    font-size: 1.5em;
} 
.user_ball > h2::first-letter {  
    text-transform: uppercase;
}
.view {
    position: relative;
    min-height: 500px;
    margin: 15px;
    margin-bottom: 50px;
}
.view.view_nick {
    margin: auto;
}
.view.view_rooms ul {
    list-style-type: none;
}
.view.view_rooms ul > li {
    padding: 10px;
    border-radius: 5px;
}
.view.view_rooms ul > li:nth-child(odd) {
    background-color:rgb(58, 55, 55);
}
.view.view_wait {

}
.bingo_footer {
    position: fixed;
    bottom: 0;
    left: 40px;
    color: lightgray;
    font-size: 0.8em;
    background-color: rgb(45, 40, 40);
}
.view_nick.form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.inline-form {
    margin-top: 90px;
    text-align: center;
}
.inline-form > * {
    display: inline-block;
    max-width: 60%;
}

.players_container {
    overflow-x: auto;
    overflow-y: hidden;
}

/** Bingo items - Cartó **/
.cartro_cell {
    display: table-cell;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    background-color: seashell;
    color: black;
}
.cartro_celledit {
    cursor: grab;
}
.cartro_cell > p {
    margin: auto;
    text-align: center;
}
.cartro_row {
   display: table-row;
}
.cartro_cellvoid {
   background: grey !important;
   pointer-events: none;
   cursor: not-allowed;
}
.cartro_cellselected > span {
    border: 2px solid rebeccapurple;
    padding: 5px;
    border-radius: 50%;
 }
 .cartro_cellok {
    background-color: lightgreen; 
 }
 .cartro_cellwrong {
    background-color:lightcoral; 
 }
 .bingo_cartro {
     display: table; 
     border: 1px solid gray;
     border-radius: 4px; 
 }
 .bingo_panell {
    border-radius: 20px;
    border: 2px dotted darkgoldenrod;
 }
 .bingo_scroll {
     height: 100px;
     overflow-y: auto;
 }
